@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'IranSansX';
}
:root {
  --lightColor: #ffffff;
  --borderColor: #d1d5db;
  --bgColor: #f3f4f6;
}
.theme-blue {
  --primaryColor: #0077b6;
}
.theme-green {
  --primaryColor: #52b788;
}
.theme-dark {
  --primaryColor: #011627;
}
